<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<style>

</style>

<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='move_fav_3.png') }}" />
<title>{{ title }}</title>
<div class="wrapper fadeInDown" id="background">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Login Form -->
    <h2>Movement 3</h2>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset>

        <div>
          <!-- {{ form.email.label(class="fadeIn second") }} -->

          {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg fadeIn second is-invalid", placeholder="you@email.com") }}
              <div class="invalid-feedback fadeIn second">
                  {% for error in form.email.errors %}
                      <p class="fadeIn second">{{ error }}</p>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.email(class="form-control form-control-lg fadeIn second", placeholder="you@email.com") }}
          {% endif %}
        </div>

        <div>
          <!-- {{ form.username.label(class="fadeIn second") }} -->


          <!--{{ form.username(class="fadeIn second", placeholder="Your Name") }}-->
          {% if form.username.errors %}
              {{ form.username(class="form-control form-control-lg fadeIn second is-invalid", placeholder="Your Name") }}
              <div class="invalid-feedback fadeIn second">
                  {% for error in form.username.errors %}
                      <p class="fadeIn second">{{ error }}</p>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.username(class="form-control form-control-lg fadeIn second", placeholder="Your Name") }}
          {% endif %}
        </div>

        <!-- <input class="click_td fadeIn second" type="color" id="color" value="#B8B8B8" onchange="update_color()"> -->

         <!-- <div class="d-flex justify-content-center">
          <div id="color_grad" class="color_grad fadeIn second col-lg">test</div>
        </div> -->


        <input type="range" min="1" max="360" value="180" class="slider color_grad" id="myRange" oninput="update_color()">





        <div class="d-flex justify-content-center">
          <!-- {{ form.username.label(class="fadeIn second") }} -->
          <div class="col-md-6">
              {% if form.height_ft.errors %}
                {{ form.height_ft(type='number', step='1', class="form-control form-control-lg fadeIn second height is-invalid", placeholder="Height (ft)") }}
                <div class="invalid-feedback fadeIn second">
                    {% for error in form.height_ft.errors %}
                        <p class="fadeIn second height">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.height_ft(type='number', step='1', class="form-control form-control-lg fadeIn second height", placeholder="Height (ft)") }}
            {% endif %}
            <!--{{ form.height_ft(type='number', step='1', class="fadeIn second height", placeholder="Height (ft)") }}-->
          </div>
          <!--<div class="col-xs-2">
            
          </div>-->
          <div class="col-md-6">
            <!--{{ form.height_in(type='number', step='0.5', class="fadeIn second height", placeholder="Height (in)") }}-->
              {% if form.height_in.errors %}
                {{ form.height_in(type='number', step='.5', class="form-control form-control-lg fadeIn second height is-invalid", placeholder="Height (in)") }}
                <div class="invalid-feedback fadeIn second">
                    {% for error in form.height_in.errors %}
                        <p class="fadeIn second height">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.height_in(type='number', step='.5', class="form-control form-control-lg fadeIn second height", placeholder="Height (in)") }}
            {% endif %}
          </div>
        </div>

        <div>
          <!-- {{ form.username.label(class="fadeIn second") }} -->
          {{ form.weight(type='number', step='0.5', class="fadeIn third", placeholder="Your Weight (lb)") }}
        </div>

        <div>
          <!-- {{ form.password.label(class="fadeIn third") }} -->
          {{ form.password(class="fadeIn third", placeholder="password") }}
        </div>
        <div>
          <!-- {{ form.password_confirm.label(class="fadeIn third") }} -->
          {{ form.password_confirm(class="fadeIn third", placeholder="confirm password") }}
          {{ form.color(readonly="", id="color_dest", style="display: none;") }}
          <!-- , style="display: none;" -->
        </div>

        <div>
          {{ form.submit(class="fadeIn fourth") }}
        </div>

      </fieldset>
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="{{ url_for('login') }}">Already have an account? Log in.</a>
    </div>
    <!-- Remind Passowrd -->

  </div>
</div>


<script>
  var pastel = 75


  function update_color(){
    color = document.getElementById("myRange").value
    color_dest = document.getElementById("color_dest")
    var h = color
    var s = 100
    var l = pastel
    color_dest.value = hslToHex(h, s, l)

    bkg = document.getElementById("background")

    bkg.setAttribute('style', "background-color: "+hslToHex(h, s, l));
    //console.log(color.value)
  }

  function hslToHex(h, s, l) {
    l /= 100;
    const a = s * Math.min(l, 1 - l) / 100;
    const f = n => {
      const k = (n + h / 30) % 12;
      const color = l - a * Math.max(Math.min(k - 3, 9 - k, 1), -1);
      return Math.round(255 * color).toString(16).padStart(2, '0');   // convert to Hex and prefix "0" if needed
    };
    return `#${f(0)}${f(8)}${f(4)}`;
  }

  document.addEventListener("DOMContentLoaded", function () {

    

    colors = "background-image: linear-gradient(to right, "
    for(var i=0; i<=360; i+=5){
      colors += "hsl("+i+",100%,"+pastel+"%),"
    }
    colors = colors.slice(0, -1) + ")"

    var dom = document.getElementById('myRange');
    dom.setAttribute('style', colors);//'linear-gradient('
            //+', ' + colorOne + ', ' + colorTwo + ')';

    console.log(dom.style.backgroundImage)
    console.log(dom)

    
  });


</script>


<style>




  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4d4d4d;
    cursor: pointer;
    border-radius: 50%; 
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }


  

  .height{
    /* width: 40% !important; */
    max-width: 350px !important;
  }

  .click_td {
    width: 85% !important;
    height: 40px !important;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  .reset-this {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes: '\201C''\201D''\2018''\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    /* basic modern patch */
    all: initial;
    all: unset;
  }


  html {
    background-color: #56baed;
  }

  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

  a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }



  /* STRUCTURE */

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  #formContent,
  .color_grad {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 80%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }



  /* TABS */

  h2.inactive {
    color: #cccccc;
  }

  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }



  /* FORM TYPOGRAPHY*/

  input[type=button],
  input[type=submit],
  input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type=button]:hover,
  input[type=submit]:hover,
  input[type=reset]:hover {
    background-color: #39ace7;
  }

  input[type=button]:active,
  input[type=submit]:active,
  input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type=text],
  input[type=number],
  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus,
  input[type=number]:focus
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=text]:placeholder,
  input[type=number]:placeholder,
  input[type=password]:placeholder {
    color: #cccccc;
  }



  /* ANIMATIONS */

  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }

  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }

  .underlineHover:hover {
    color: #0d0d0d;
  }

  .underlineHover:hover:after {
    width: 100%;
  }



  /* OTHERS */

  *:focus {
    outline: none;
  }

  #icon {
    width: 60%;
  }
</style>